.header {
    position: relative;
    height: 800px;
    background: rgb(225, 255, 143);
    background-size: contain;
    background-position: center;
    &__content {
        width: 768px;
        padding-top: 196px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }
    &__h1 {
        color: rgb(32, 32, 39);
        font-size: 32px;
        font-weight: 700;
        line-height: 78px;
        text-align: left;
    }
    &__text {
        padding-top: 24px;
        padding-bottom: 48px;
        color: rgb(32, 32, 39);
        font-size: 24px;
        font-weight: 400;
        line-height: 32px;
        text-align: left;
        &-bold {
            font-weight: 600;
        }
    }
    &__button {
        width: 247px;
        height: 66px;
        align-items: center;
        padding: 16px 28px 16px 28px;
        border: 1px solid rgb(32, 32, 39);
        border-radius: 60px;
        background: rgb(32, 32, 39);
        color: rgb(255, 255, 255);
        font-size: 24px;
        font-weight: 600;
        text-align: center;
    }
    &__img {
        &-2 {
            top: 94px;
            left: calc(50% - 600px);
        }
        &-3 {
            position: absolute;
            left: 156px;
            top: 69px;
        }
        &-4 {
            position: absolute;
            left: 1013px;
            top: 568px;
        }
        &-5 {
            position: absolute;
            left: 948px;
            top: 538px;
        }
    }
}