.header {
    position: relative;
    height: 800px;
    background: rgb(225, 255, 143);
    background-size: contain;
    background-position: center;
    &__content {
        width: 768px;
        padding-top: 196px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }
    &__h1 {
        color: rgb(32, 32, 39);
        font-size: 32px;
        font-weight: 700;
        line-height: 78px;
        text-align: left;
    }
    &__text {
        padding-top: 24px;
        padding-bottom: 48px;
        color: rgb(32, 32, 39);
        font-size: 24px;
        font-weight: 400;
        line-height: 32px;
        text-align: left;
        &-bold {
            font-weight: 600;
        }
    }
    &__button {
        width: 247px;
        height: 66px;
        align-items: center;
        padding: 16px 28px 16px 28px;
        border: 1px solid rgb(32, 32, 39);
        border-radius: 60px;
        background: rgb(32, 32, 39);
        transition: background 1s;
        color: rgb(255, 255, 255);
        font-size: 24px;
        font-weight: 600;
        text-align: center;
        &:hover {
            background: rgb(255, 255, 255);
            color: rgb(32, 32, 39);
        }
    }
    &__img {
        &-1 {
            position: absolute;
            left: calc(50% + 195px);
            bottom: 3px;
            transform: rotate(108.45deg);
            overflow: hidden;
        }
        &-2 {
            position: absolute;
            left: calc(50% - 657px);
            top: 94px;
        }
        &-3 {
            position: absolute;
            left: calc(50% - 564px);
            top: 69px;
        }
        &-4 {
            position: absolute;
            left: calc(50% + 159px);
            top: 568px;
        }
        &-5 {
            position: absolute;
            left: calc(50% + 94px);
            top: 538px;
        }
    }
    &__bottom {
        position: absolute;
        width: 3220px;
        height: 90px;
        margin-top: 156px;
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 51px;
        overflow: hidden;
        background: rgb(188, 236, 48);
        left: calc(50% - 720px);
        &-text {
            color: rgb(32, 32, 39);
            font-size: 30px;
            font-weight: 700;
            text-align: left;
            text-transform: uppercase;
        }
    }
}
.footer {
    height: 150px;
    background: rgb(189, 237, 53);
    display: flex;
    justify-content: center;
    align-items: center;
    &__txt {
        font-size: 24px;
        font-weight: 600;
        line-height: 29px;
        text-align: center;
    }
}