@media (max-width: 376px) {
    .center {
        padding-left: 16px;
        padding-right: 16px;
    }
    .header {
        height: 700px;
        &__content {
            padding-top: 147px;
            align-items: center;
        }
        &__h1 {
            width: 262px;
            font-size: 40px;
            line-height: 49px;
            text-align: center;
        }
        &__text {
            padding-bottom: 36px;
            font-size: 16px;
            line-height: 20px;
            text-align: center;
        }
        &__button {
            width: 285px;
            height: 55px;
            font-size: 16px;
        }
        &__bottom {
            width: 1717.4px;
            height: 51.34px;
            margin-top: 131px;
            gap: 27px;
            left: 0px;
            &-text {
                font-size: 16px;
                text-align: left;
            }
        }
        &__img {
            &-1 {
                display: none;
                position: absolute;
                background-image: url(../img/mobilebigstar.svg);
                width: 223.52px;
                height: 238.57px;
                left: calc(50%);
                top: -40.43px;
                transform: rotate(108.68deg);
                overflow: hidden;
            }
            &-2 {
                position: absolute;
                width: 35px;
                height: 35px;
                left: calc(50% - 151px);
                top: 97px;
            }
            &-3 {
                position: absolute;
                width: 21px;
                height: 21px;
                left: calc(50% - 97px);
                top: 64px;
            }
            &-4 {
                position: absolute;
                width: 39px;
                height: 41px;
                right: calc(50% - 154px);
                bottom: 28px;
            }
            &-5 {
                position: absolute;
                width: 18px;
                height: 18px;
                right: calc(50% - 102px);
                bottom: 125px;
            }
        }
    }
    .games {
        display: none;
    }
}