@media (max-width: 700px) {
    .center {
        padding-left: 16px;
        padding-right: 16px;
    }
    .header {
        height: 700px;
        &__content {
            padding-top: 147px;
            align-items: center;
        }
        &__h1 {
            color: rgb(32, 32, 39);
            font-size: 40px;
            line-height: 49px;
            text-align: center;
        }
        &__text {
            padding-bottom: 36px;
            font-size: 16px;
            line-height: 20px;
            text-align: center;
        }
        &__button {
            width: 285px;
            height: 55px;
            font-size: 16px;
        }
    }
}