@media (min-width: 376px) and (max-width: 1024px) {
    .center {
        padding-left: calc(50% - 1024px/2);
        padding-right: calc(50% - 1024px/2);
    }
    .header {
        overflow: hidden;
        height: 750px;
        &__content {
            padding-top: 230px;
            padding-left: 48px;
        }
        &__h1 {
            font-size: 48px;
            line-height: 48px;
            text-align: left;
        }
        &__text {
            padding-bottom: 48px;
            font-size: 24px;
            line-height: 24px;
            text-align: left;
        }
        &__button {
            width: 275px;
            height: 50px;
            font-size: 22px;
        }
        &__bottom {
            width: 1717.4px;
            height: 51.34px;
            margin-top: 105px;
            gap: 27px;
            left: 0px;
            &-text {
                font-size: 16px;
                text-align: left;
            }
        }
        &__img {
            &-1 {
                display: none;
            }
            &-2 {
                position: absolute;
                width: 35px;
                height: 35px;
                left: calc(50% - 151px);
                top: 97px;
            }
            &-3 {
                position: absolute;
                width: 21px;
                height: 21px;
                left: calc(50% - 97px);
                top: 64px;
            }
            &-4 {
                position: absolute;
                width: 39px;
                height: 41px;
                right: calc(50% - 154px);
                top: 580px;
            }
            &-5 {
                position: absolute;
                width: 18px;
                height: 18px;
                right: calc(50% - 102px);
                top: 557px;
            }
            &-6 {
                display: block;
                position: absolute;
                right: calc(50% - 275px);
                top: -80px;
            }
        }
    }
    .games {
        display: none;
    }
    .minigames {
        &__h1 {
            padding-top: 48px;
            padding-bottom: 48px;
            font-size: 40px;
            line-height: 49px;
        }
        &__cards {
            gap: 24px;
        }
        &__card {
            width: 100%;
            flex-direction: row;
            &-left {
                display: flex;
                flex-direction: column;
                padding: 29px;
                &-name {
                    width: 285px;
                    font-size: 32px;
                    line-height: 39px;
                    text-align: left;
                    padding-bottom: 16px;
                }
                &-text {
                    width: 285px;
                    font-size: 16px;
                    line-height: 20px;
                    padding-bottom: 32px;
                }
                &-button {
                    width: 285px;
                    height: 55px;
                    font-size: 16px;
                }
            }
            &-right {
                &-img {
                    max-height: 400px;
                }
            }
        }
        &__img {
            &-1 {
                display: none;
            }
            &-2 {
                display: none;
            }
            &-3 {
                display: none;
            }
            &-4 {
                display: none;
            }
        }
    }
    .footer {
        height: 100px;
        &__text {
            font-size: 16px;
            font-weight: 600;
            line-height: 20px;
        }
    }
}